n8n_workflow_diagnostico.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "adsbigger-bant",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook Diagnostico",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "INSERT_GOOGLE_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Hoja 1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{$now}}",
            "Nombre": "={{$json.body.name}}",
            "Email": "={{$json.body.email}}",
            "Empresa": "={{$json.body.empresa}}",
            "Empleados": "={{$json.body.empleados}}",
            "Invierte Ads": "={{$json.body.ads}}",
            "Website": "={{$json.body.web}}",
            "Puntaje": "={{$json.body.puntaje}}",
            "Nivel": "={{$json.body.nivel}}"
          }
        },
        "options": {}
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [500, 100]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "INSERT_SLACK_CHANNEL_ID",
          "mode": "id"
        },
        "text": "=🔥 NUEVO LEAD CALIFICADO: {{$json.body.nivel}}\\n\\n*Nombre:* {{$json.body.name}}\\n*Empresa:* {{$json.body.empresa}}\\n*Puntaje:* {{$json.body.puntaje}}\\n*Web:* {{$json.body.web}}",
        "otherOptions": {}
      },
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "sendTo": "agency.adsbigger@gmail.com",
        "subject": "=🔥 Nuevo Lead: {{$json.body.empresa}} (Score: {{$json.body.puntaje}})",
        "message": "Acaba de entrar un nuevo prospecto calificado desde el diagnóstico.\\n\\nNombre: {{$json.body.name}}\\nEmail: {{$json.body.email}}\\nEmpresa: {{$json.body.empresa}}\\nEmpleados: {{$json.body.empleados}}\\nHace Ads: {{$json.body.ads}}\\nWeb: {{$json.body.web}}\\nPuntaje BANT: {{$json.body.puntaje}}\\nNivel: {{$json.body.nivel}}",
        "appendAttribution": false,
        "options": {}
      },
      "name": "Gmail Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [500, 500]
    }
  ],
  "connections": {
    "Webhook Diagnostico": {
      "main": [
        [
          { "node": "Google Sheets", "type": "main", "index": 0 },
          { "node": "Slack", "type": "main", "index": 0 },
          { "node": "Gmail Alert", "type": "main", "index": 0 }
        ]
      ]
    }
  }
}
